.rodapie {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
    gap: 10px;
    
    width: 1440px;
    height: 788px;
    background: #EAF2FD;

    
}
.rodapie_-caja {
display: flex;
flex-direction: row;
align-items: center;
padding: 64px 0px 0px;
gap: 16px;

width: 1136px;
height: 660px;
}


.rodapie__contacto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    
    width: 656px;
    height: 596px;
    
}


.rodapie__contacto-topo {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;
width: 656px;
height: 84px;
     }

.rodapie__contacto-imagen {
        width: 464px;
        height: 593px;
        }



.rodapie__contacto-titulo1 {
width: 141px;
height: 38px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 38px;
color: #464646;
}

.rodapie__contacto-titulo2 {
    width: 656px;
height: 38px;

font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #464646;
}

.rodapie__campos {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;

width: 656px;
height: 397px;

}

.input__nombre {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;
width: 656px;
height: 56px;
background: #FFFFFF;
border-radius: 4px;

}

.input__correo {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 656px;
height: 56px;

}
.input__asunto {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 656px;
height: 56px;
}

.area_texto {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 656px;
height: 133px;

}

.rodapie__contacto-boton {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px;
gap: 10px;

width: 144px;
height: 51px;
background: #2A7AE4;
color: #FFFFFF;


}



.footer {
    width: 229px;
    height: 38px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    background: #FFFFFF;
}

